<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}"/>
    <add key="ida:Tenant" value="maratsmusaevgmailcom.onmicrosoft.com"/>
    <add key="ida:ClientId" value="619d2492-92d0-47ab-a4ae-7e7236de2cf8"/>
    <add key="ida:AudienceUri" value="https://graph.microsoft.com"/>
    <add key="ida:ReplyUrl" value="http://localhost:1234"/>
    <add key="ida:CertName" value="CN=GraphDaemonWithCert"/>
  </appSettings>
</configuration>
